<IfModule mod_rewrite.c>
#     prevent directory listings
     Options -Indexes
     IndexIgnore */*

     # follow symbolic links
     Options FollowSymlinks
     RewriteEngine on
     RewriteCond %{REQUEST_URI} !^bakcend
     RewriteRule ^admin(/.+)?$ backend/web/$1 [L,PT]
     RewriteRule ^(.+)?$ frontend/web/$1

#    FOR SERVER
    RewriteCond %{REQUEST_URI} ^/admin/
    RewriteRule ^admin/(.*) /backend/web/$1 [L]
    RewriteRule (.*) /frontend/web/$1
</IfModule>

## Deny accessing below extensions
<Files ~ "(.json|.lock|.git)">
Order allow,deny
Deny from all
</Files>
